.table > :not(:first-child) {
    border-top: 0;
}

.paginas{
    width: 100%;
    text-align: center;
}

.item{
    border: none;
    background-color: transparent;
}

thead ,thead > * {
    user-select: none;
}
.paginas, .paginas > *{
    user-select: none;
}
.item:hover{
    color: #ffc107;
}

@media(max-width: 500px){
    
    .table thead{
        display: none;
    }
    .table tfoot{
        display: none;
    }
    
    .table th{
        display: none;
    }

    .table, .table tbody, .table tr, .table td{
        display: block;
        width: 100%;
        font-size: small;
    }
    
    .table tr{
        margin-bottom: 15px;
    }

    .table td{
        text-align: right;
        padding-left: 50%;
        text-align: right;
        position: relative;
    }
    .table td::before{
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: bold;
        text-align: left;
    }
    
}